html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

html,
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(173, 181, 189);
  background: linear-gradient(90deg, rgb(173, 181, 189) 0%, rgb(222, 226, 230) 50%, rgb(173, 181, 189) 100%);
}

.wrapper {
  max-width: 1600px;
  width: 95%;
}

html {
  font-family: "Roboto", sans-serif;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing-page h3 {
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.login-container {
  width: 80%;
  min-width: 270px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.signup-container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-container button {
  width: 100%;
}

.create-account-container {
  width: 80%;
  min-width: 270px;
  max-width: 370px;
}
.create-account-container button {
  width: 100%;
}

.create-account-inner {
  width: 80%;
  min-width: 270px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
}
.create-account-inner button {
  margin-top: 30px;
}
.create-account-inner .fieldWarntrue {
  background-color: rgba(255, 0, 0, 0.233);
}

.css-i4bv87-MuiSvgIcon-root {
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logged-as {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100px;
  position: fixed;
  top: 0;
}
.logged-as .MuiBreadcrumbs-li {
  transition: all 0.3s;
}
.logged-as .MuiBreadcrumbs-li:hover {
  transform: scale(1.2);
  color: black;
}
.logged-as li a {
  text-decoration: none;
}
.logged-as li a:hover {
  text-decoration: none;
}
.logged-as p {
  margin-right: 20px;
}
.logged-as button {
  background-color: red;
  font-size: 0.6rem;
  font-weight: bold;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-info div {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
  transition: all 0.3s;
}
.user-info div:hover {
  transform: scale(1.1);
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  position: relative;
  width: 250px;
  padding: 30px 0;
}

#close-avatar-settings {
  position: absolute;
  top: 0;
  right: 0;
}

.app-choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.app-choices button {
  height: 250px;
  width: 250px;
  background-color: #e9ecef;
}

.quick-links li {
  margin: 0 3px;
}
.quick-links li p {
  font-weight: bold;
  font-size: 0.9rem;
}
.quick-links li a {
  cursor: pointer;
  font-size: 0.9rem;
}

.to-do-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10%;
}

.add-chore-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
  padding: 0 15px;
}

.to-do-subtitle {
  margin-bottom: 30px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-do-subtitle svg {
  cursor: pointer;
}

.to-do-content {
  min-width: 500px;
}
.to-do-content h2 {
  margin-top: 0;
}
.to-do-content ul {
  overflow: hidden;
  overflow-y: auto;
  list-style: none;
  padding: 5px 15px;
  margin: 50px 0 20px 0;
  min-height: 50px;
  max-height: 450px;
  max-width: 700px;
  background-color: #e9ecef;
  border-radius: 5px;
}
.to-do-content ul #edit-chore {
  cursor: pointer;
  margin-right: 10px;
}
.to-do-content ul #edit-chore path {
  pointer-events: none;
}
.to-do-content ul .add-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-do-content ul .add-delete svg {
  width: 50%;
}
.to-do-content ul .add-delete path {
  pointer-events: none;
}
.to-do-content ul .add-delete span {
  margin: 0 5px;
}
.to-do-content ul #list-item-accordion {
  width: 80%;
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.to-do-content ul #list-item-accordion svg {
  cursor: pointer;
}
.to-do-content ul #panel1d-header {
  flex-direction: row-reverse;
  padding: 0;
}
.to-do-content ul #panel1d-content div {
  padding: 0;
  border-bottom: 1px solid black;
}
.to-do-content ul #panel1d-content p {
  font-size: 0.8rem;
  text-align: left;
}
.to-do-content ul li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-do-content ul li p {
  margin-left: 20px;
}
.to-do-content ul li p span {
  padding: 0;
}
.to-do-content ul li p .inside-span {
  margin: 0 10px;
}
.to-do-content #list-item-accordion .completed-task {
  position: relative;
  color: rgba(0, 0, 0, 0.5);
}
.to-do-content #list-item-accordion .completed-task::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  border-bottom: 2px solid green;
  width: 85%;
}

/*# sourceMappingURL=styles.css.map */
